h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  margin: 5px 0;
  font-size: 14px;
}

body {
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
  background: url('./images/rectangle-2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  height: 100%;
}

body > #root > div {
  height: 100vh;
}

.locked {
  /* overflow: hidden; */
  position: fixed;
  z-index: 0;
}

div.hit-box{
  height:300vh;
  width:300vw;
  position:fixed;
  top:-100vh;
  left:-100vw;
  z-index: 0;
  cursor: auto;
}

.ib {
  display: inline-block;
}

.one-third {
  width: 33%;
}

.two-thirds {
  width: 66%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full {
  width: 100%;
}

.thin {
  font-weight: 400;
}

.w70 {
  width: 200px;
}

.w20 {
  width: 20%;
}

.w30 {
  width: 30%;
}

.w10 {
  width: 10%;
}

.box {
  border: 1px solid black;
  padding: 2px;
}

.btn {
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0;
  background-color: black;
  color: white;
  height: 35px;
}

.btn.mid {
  width: 120px;
}

.btn.checkout {
  background-color: #b085f2;
  position: absolute;
  width: 300px;
  bottom: 10px;
}

.btn:hover {
  cursor: pointer;
}

button {
  transition: .3s ease all;
}

button:hover {
  background-color: #b085f2;
}

.purchase-wrapper {
  padding-bottom: 200px;
}

.purchase-wrapper-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f0f0f0;
  transition: .3s ease all;
  overflow: scroll;
}

.purchase-wrapper-wrapper.collapsed {
  width: 0;
}
.purchase-wrapper-wrapper.expanded {
  width: 100%;
  height: 100%;
}

.checkout-form-wrapper {
  transition: .3s ease all;
}

.checkout-form-wrapper.collapsed {
  width: 0;
}

.checkout-form-wrapper.expanded {
  width: 350px;
}

.footer {
  position: fixed;
  width: 100%;
  height: 120px;
  background-color: white;
  bottom: 0;
}

.title {
  height: 100%;
  line-height: 120px;
  margin-left: 40px;
  font-size: 21px;
  letter-spacing: 17.5px;
  font-style: italic;
  transition: 0.2s ease all;
}

.title.compress {
  letter-spacing: 13px;
}

.nav {
  position: absolute;
  height: 100%;
  line-height: 120px;
  right: 0;
}

.footer-nav {
  font-size: 14px;
}

.footer-nav:last-child {
  margin-right: 60px;
  margin-left: 40px;
}

.footer-nav:hover {
  cursor: pointer;
}

.confirmed {
  text-transform: uppercase;
  font-size: 14px;
}

.email-field {
  width: 400px;
  border: none;
  font-size: 14px;
  margin-right: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  transition: 0.2s ease all;
}

.email-field.hidden {
  width: 0;
  opacity: 0;
}

.email-field.expanded {
  width: 400px;
}

.email-field:focus {
  outline: none;
}

.email-field-wrapper input {
  width: 400px;
  border: none;
  font-size: 14px;
  margin-right: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  transition: 0.2s ease all;
}

.email-field-wrapper input:focus {
  outline: none;
}

.email-field-wrapper.hidden input {
  width: 0;
  opacity: 0;
}

.email-field-wrapper.expanded .form-wrapper {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.email-field-wrapper.expanded input {
  width: 350px;
}

.email-field-wrapper.hidden button {
  width: 0;
  opacity: 0;
}

.email-field-wrapper button {
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0;
  background-color: black;
  color: white;
  height: 35px;
  width: 120px;
  text-transform: uppercase;
}

.email-field-wrapper button:hover {
  background-color: #b085f2;
  cursor: pointer;
}

.simple-form-wrapper {
  width: 0;
}

.simple-form-wrapper.hidden {
  width: 0;
}

.email-arrow {
  height: 100%;
}

.arrow-wrapper {
  padding: 0 5px;
  transition: 0.3s ease all;
}

.arrow-wrapper:hover {
  cursor: pointer;
}

.hover-album {
  position: absolute;
  width: 0;
  height: 0;
  width: 200px;
  right: 40px;
  bottom: 100px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: .3s ease all;
}

.hover-album.rise {
  height: 200px;
  transition: .3s ease all;
}

.hover-album.spread {

}

.hover-album > img {
  width: 100%;
  height: 100%;
}

.album-wrapper {
  width: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
}

.vinyl-wrapper {
  position: relative;
  width: 280px;
  height: 320px;
  margin: 0 auto;
}

.product-details {
  position: relative;
  width: 430px;
  margin: 0 auto;
}

.product-details.album {
  height: 300px;
}

.add-to-cart {
  margin-top: 15px;
  width: 100%;
}

.title-and-price {
  width: 100%;
}

.track-list {
  margin-bottom: 18px;
}

.vinyl-roll {
  position: absolute;
  transition: .75s ease all;
}

.album-cover {
  width: 280px;
  z-index: 2;
  right: 0;
}

.album-cover.shift {
  right: 80px;
}

.vinyl {
  top: 5px;
  width: 270px;
  z-index: 1;
  left: 0;
}

.vinyl.shift {
  left: 80px;
  transform: rotate(30deg);
}

.pin {
  width: 100px;
  height: auto;
}

.pin-details {
  margin-top: 20px;
}



.checkout-form {
  position: fixed;
  height: 330px;
  right: 0;
  top: 200px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: .2s ease all;
  z-index: 5;
}

.checkout-form.collapsed {
  width: 0;
  padding: 10px 0;
}

.checkout-form.expanded {
  width: 300px;
  padding: 10px 10px;
}

.line-item {
  position: relative;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

.line-item:last-of-type {
  border-bottom: 2px solid black;
}

.totals-table {
  margin-top: 25px;
}

.shipping-line {
  padding-top: 65px;
  font-size: 12px;
}


.mobile-header {
  text-align: right;
  left: 5px;
  /* bottom: 5px; */
  font-style: italic;
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  letter-spacing: 2.5vmax;
  z-index: 10;
}

.mobile-center-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.btn.big {
  width: 80%;
  display: block;
}

.bottom {
  position: fixed;
  width: 100%;
  height: 150px;
  bottom: 0;
  transition: .3s ease all;
}

.bottom.grow {
  height:60%;
}

#mobile-email-btn {
  background-color: white;
  color: black;
  position: relative;
  margin: 0 auto;
  box-shadow: none;
  border-radius: 0;
}

.social-wrapper-wrapper {
  position: absolute;
  bottom: 140px;
  right: 5px;
}

.social-wrapper {
  margin-top: 20px;
}

.social-wrapper > a {
  margin: 10px;
  margin-top: 20px;
}

.social-wrapper img {
  max-width: 29px;
}

.btn-arrow {
  margin-left: 30px;
}

.mobile-email-wrapper {
  background-color: white;
  width: 80%;
  height: 35px;
  display: block;
  position: relative;
  margin: 0 auto;
  transition: .3s ease all;
  border-radius: 0;
}

.mobile-email-wrapper.grow {
  height: 100%;
  width: 100%;
}

.mobile-email-wrapper.grow > div {
  width: 80%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.mobile-email-wrapper.grow > div > input {
  margin-top: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.mobile-email-wrapper.grow > div > input:focus {
  outline: none;
}

.mobile-email-wrapper.grow > div > button {
  margin-top: 40px;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0;
  background-color: black;
  color: white;
  height: 35px;
  width: 100%;
}

.mobile-email-wrapper.grow > div > button:focus {
  outline: none;
}

.payment-page {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  text-align: center;
}

.checkout-options {
  margin-top: 200px;
}

.paypal-wrapper {
  width:300px;
  margin: 0 auto;
  margin-top: 30px;

}
